{% extends 'base1.html' %}

{% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/facultyloggedin">PEC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/facultyloggedin">Home</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">

                </div>
            </div>
        </div>
    </nav>
{% endblock %}            

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Upload Student List</h3>
                <br>
                <form method='POST' enctype="multipart/form-data">
                    <p>
                        HOSTEL:
                        <select  name="stream" class="custom-select" required="">
                            <option value="HIMALAYA">HIMALAYA</option>
                            <option value="SHIVALIK">SHIVALIK</option>
                        </select>
                    </p>     

                    <input type="file" name="file" accept=".xls,.xlsx,.csv,.ppt,.pptx,.txt,.docx"  required >
                    <br><br>

                    <input type="submit" name="Uploadfile" value="Upload  file">
                </form>
            </div>
        </div>
    </main>
{% endblock %}